@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");


/* ==========================================TODAS AS PÁGINAS================================================== */
body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  background-color: #f5f3ef;
}

/* pagina mural */

.label-captura {
  display: flex;
  justify-content: center;
}

.dash-right .avisos {
  width: 100%;
  color: rgb(216, 216, 216);
  font-family: "Montserrat", sans-serif;
}

.dash-right .avisos .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dash-right .avisos .container .div-form {
  width: 95%;
}

.dash-right .avisos .container .div-form #form_postagem {
  width: 95%;
}

.dash-right .avisos .div-form label {
  width: 95%;
}

.dash-right .avisos .div-form input {
  width: 95%;
  border-radius: 5px;
}

.dash-right .avisos .div-form textarea {
  width: 95%;
  border: 3px solid #e6005a;
  background-color: white;
  border-radius: 5px;
}

.dash-right .avisos .div-form button {
  cursor: pointer;
  font-family: 'Barlow', 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border: 0;
  border-radius: 5px;
  font-weight: 600;
  font-size: 18px;
  padding: 10px 15px;
  color: white;
  background-color: #e6005a;
  width: 120px;
}

.publicacao-btn-editar {
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  border: 0;
  border-radius: 5px;
  font-weight: 600;
  font-size: 14px;
  padding: 5px 8px;
  color: white;
  background-color: #e6005a;
  width: 80px;
}

.publicacao {
  display: flex;
  flex-wrap: wrap;
  align-content: stretch;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  border-bottom: 3px solid #e6005a;
  padding: 20px;
}

.publicacao>*:not(:last-child) {
  padding: 0 0 10px 0;
}

.div-results {
  width: 100%;
}

.div-results .feed-container {
  background-color: #212124;
  border-radius: 5px;
  margin-bottom: 80px;
}

.div-buttons {
  display: flex;
  justify-content: flex-end;
}

.div-buttons>* {
  margin-left: 30px;
}

/* pagina graficos */

.dash-header {
  background-color: #212124;
}

.dash {
  width: 80%;
  position: relative;
  top: 0;
  left: 20%;
  background-color: #f5f3ef;
  height: 100vh;
  overflow: auto;
}

.area-parametros-alerta {
  /* border: 2px solid pink; */
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: auto;
  margin-top: 10px;
  background-color: #212124;
}

.area-parametros-alerta .titulo-legenda {
  color: white;
  font-weight: 600;
  width: fit-content;
  margin: 10px 20px;
}

.parametros-alerta {
  display: flex;
  width: 100%;
}

.item-regua {
  width: 20%;
  text-align: center;
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
}

.item-regua p {
  margin: 0;
  font-weight: 500;
}

.item-regua p:nth-child(2) {
  font-weight: 800;
}

.perigo-frio {
  background-color: #5c6bc0;
}

.perigo-quente {
  background-color: #ff7043;
}

.alerta-frio {
  background-color: #42a5f5;
}

.alerta-quente {
  background-color: #ffee58;
}

.ideal {
  background-color: #9ccc65;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 450px;
  width: 100%;
  align-items: center;
  color: white;
}

.card-aquario {
  margin: 2%;
  min-width: 40%;
  max-width: 50%;
  width: fit-content;
  flex-wrap: wrap;
  display: flex;
  /* text-align: center; */
  height: 180px;
  /* justify-content: right; */
  background-color: #212124;
  font-size: 20px;
}

.card-aquario h1 {
  width: fit-content;
}

.card-aquario p {
  margin: 0;
  font-size: 50px;
  font-weight: lighter;
  text-align: left;
}

.desc-aquario {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.desc-aquario .cor-alerta {
  width: 30px;
}

.title-aquario {
  width: 100%;
}


.cards h1 {
  font-size: 22px;
  border-bottom: solid white 1px;
  text-align: left;
  font-weight: lighter;
  margin: 20px;
}

.temperatura,
.umidade {
  margin: 5px;
  margin-left: 20px;
  width: 75%;
}

.cor-alerta {
  width: 13%;
  height: 30%;
  border-radius: 50%;
  display: inline-block;
}

.graph {
  width: 70%;
  margin: auto;
  padding-top: 10px;
  margin-bottom: 30px;
}

.tituloGraficos {
  color: rgb(216, 216, 216);
  display: flex;
  justify-content: center;
  margin-top: 70px;
}

.btns-dash {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px auto; 
  width: 400px;
  font-family: "Montserrat", sans-serif;
  padding: 10px;
  font-size: 16px;
  border-radius: 8px;
  border: 2px solid #c8d9e6;
  background-color: white;
  color: #003366;
}

.btn-chart {
  font-family: "Montserrat", sans-serif;
  color: #003366;
  background-color: white;
  font-size: 16px;
}

.btn-pink {
  color: white;
  background-color: #003366;
  margin-right: 500px;
}

.btn-white {
  color: #003366;
  background-color: white;
  margin-right: 500px;
}

.label-captura {
  height: 80px;
}

.display-none {
  display: none;
}

.display-flex {
  display: flex;
}

.display-block {
  display: block;
}

canvas {
  width: 100% !important;
  height: 100% !important;
}

/*=========================================== PAGINA DOS GRÁFICOS 2023 ==================================================*/

.box-agrupamento {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.grupo-kpis {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 280px;
  height: 160px;
  border-radius: 20px;
  margin-right: 20px;
  margin-top: 20px;
  background: #c8d9e6;
  border: 1px solid rgba(0, 51, 102, 0.15);
}

.kpi {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.kpi h4 {
  font-size: 12.8px;
  font-weight: 600;
  margin-bottom: 5px;
  color: #003366;
}

.kpi h3 {
  font-size: 28.8px;
  font-weight: 800;
  color: #003366;
  margin: 0;
}

.janela {
  display: flex;
  /* width: 100vw; */
}

.header-left a {
  text-decoration: none;
  color: white;
}

.header-left {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  height: 100vh;
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-right: 1px solid #003366;
  background-color: #003366;
}

.header-left img {
  width: 170px;
  height: auto;
}

.dash-right {
  display: flex;
  width: 70%;
  height: fit-content;
  background-color: #f5f3ef;
  position: relative;
  top: 0;
  left: 25%;
  height: 100vh;
  overflow: auto;
}

.header-left h1 {
  color: #32b9cd;
}

.hello {
  width: 100%;
  display: flex;
  justify-content: center;
}

.hello h3 {
  color: #f5f3ef;
  font-weight: 300;
  font-size: 20px;
}

.hello h3 span {
  font-weight: 800;
}

.btn-nav {
  display: flex; 
  align-items: center;
  justify-content: center;
  background-color: #f5f3ef;
  border: none;
  width: 160px;
  height: 40px;
  border-radius: 8px;
  cursor: pointer;
  box-sizing: border-box;
  margin-top: -10px;
}

.btn-nav h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 600;
  color: #003366;
  margin: 0;
  padding: 0;
}

.agora{
  border: solid 1px #f5f3ef;
  background-color: #003366;
}

.agora h3{
  color: #f5f3ef;
}

.btn-nav:hover,
.btn-logout:hover{
  border: solid 1px #f5f3ef;
  background-color: #003366;
  color: #f5f3ef;
}

.btn-nav:hover h3,
.btn-logout:hover h3{
  color: #f5f3ef;
}

.btn-logout {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f5f3ef;
  border: none;
  width: 160px;
  height: 40px;
  border-radius: 8px;
  cursor: pointer;
  box-sizing: border-box;
  margin-top: 20px;
}

.btn-logout h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 600;
  color: #003366;
  margin: 0;
  padding: 0;
}

/*=========================================== EDITAR ==================================================*/
.conteudo {
  display: flex;
  flex-direction: column;
  width: 80%;
  position: relative;
  top: 0;
  left: 20%;
  align-items: center;
  margin-top: 20px;
}

.conteudo h2 {
  color: #003366;
  margin-bottom: 35px;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 500px;
  height: 500px;
  align-items: center;
  border: solid 2px #c8d9e6;
  border-radius: 12px;
}

.card p,
.card-cadastrar p {
  display: flex;
  align-self: self-start;
  margin-left: 30px;
  color: #444444;
  font-size: 16px;
  margin-bottom: 12px;
}

input {
  width: 85%;
  padding: 12px;
  border-radius: 10px;
  border: 1px solid #c8d9e6;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 12px;
  color: #000000;
}

.btn-atualizar,
.btn-cadastrar {
  padding: 12px;
  border-radius: 8px;
  font-weight: 600;
  font-size: 14.4px;
  cursor: pointer;
  border: none;
  background-color: #c8d9e6;
  color: #003366;
  width: 90%;
  align-self: center;
  font-family: "Montserrat", sans-serif;
  margin-top: 20px;
}

.card-cadastrar {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 500px;
  height: 600px;
  align-items: center;
  border: solid 2px #c8d9e6;
  border-radius: 12px;
}