@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");


/* ==========================================TODAS AS PÁGINAS================================================== */
body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  background-color: #f5f3ef;
}

.container {
  display: flex;
  width: 80%;
  margin: auto;
}

.header {
  background-color: #c8d9e6;
  padding: 8px 0;
  display: flex;
  flex-direction: row;
}

.header .container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}

.header h1 {
  margin: 0;
}

.header li,
.header a {
  text-decoration: none;
  font-weight: bold;
  font-size: 14.6px;
  color: #003366;
}

.header li{
  margin-right: 26px;
}

.header img {
  width: 144px;
  height: auto;
  margin-left: 64px;
}

.agora {
  font-weight: 800;
}

.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
  margin-left: auto;
  margin-right: 64px;
}

.navbar a:hover,
.navbar .agora a {
  color: #f5f3ef;
}

/* =============================================INDEX===================================================== */

/* ========================================BANNER================================================ */

.banner {
  background-color: #f5f3ef;
  padding: 6rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.titulo-principal {
  color: #003366;
  font-size: 35px;
  max-width: 800px;
  margin-bottom: 24px;
}

.banner p {
  color: #000000;
  font-size: 19px;
  max-width: 600px;
  margin-bottom: 20px;
}

.comecar {
  background-color: #003366;
  color: #ffffff;
  border: none;
  border-radius: 12px;
  padding: 14px 28px;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  font-family: "Montserrat", sans-serif;
}

.comecar:hover {
  background-color: #3d86ba;
}

/* ========================================SOBRE================================================ */
.sobre {
  background-color: white;
  display: flex;
  align-items: center;
  padding: 80px 32px;
  width: 100%;
  margin: 0 auto;
  gap: 64px;
  flex-direction: row;
  flex-wrap: wrap;
}

.sobre-escrito {
  display: flex;
  flex-direction: column;
  margin-left: 35px;
  width: 47%;
}

.sobre-escrito span {
  color: #3d86ba;
  font-weight: bold;
  font-size: 14px;
}

.sobre-escrito h1 {
  color: #003366;
  font-size: 30px;
}

.sobre-escrito p {
  color: #000000;
  font-size: 16px;
  text-align: justify;
}

.sobre-escrito a {
  text-decoration: none;
}

.btn-texto {
  background: none;
  border: none;
  color: #003366;
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  margin-top: 1rem;
}

.btn-texto:hover {
  color: #3d86ba;
}

.sobre-quadrado {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.lado-a-lado {
  display: flex;
  margin-bottom: 15px;
}

.quadrado1,
.quadrado2,
.quadrado3 {
  border-radius: 13.6px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: bold;
  padding: 24px;
}

.quadrado1 h2,
.quadrado2 h2,
.quadrado3 h2 {
  font-size: 20px;
}

.quadrado1,
.quadrado2,
.quadrado3 p {
  font-size: 1rem;
}

.quadrado1 {
  height: 230px;
  width: 200px;
  background-color: #003366;
  color: #ffffff;
  margin-right: 20px;
}

.quadrado2 {
  height: 200px;
  width: 200px;
  background-color: #c8d9e6;
  margin-top: 30px;
  color: #003366;
}

.quadrado3 {
  height: 10rem;
  width: 470px;
  background-color: #f5f3ef;
  border: 1px solid #dddddd;
  color: #003366;
}


/* ==========================================EXPERIENCIA================================================== */
.experiencia {
  background-color: #f5f3ef;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.experiencia span {
  margin-top: 64px;
  color: #3d86ba;
  font-weight: bold;
  font-size: 14px;
}

.experiencia h1 {
  color: #003366;
  font-size: 30px;
}

.experiencia-quadrados {
  display: flex;
  flex-direction: row;
  margin-bottom: 48px;
  margin-top: 16px;
}

.quadrado4,
.quadrado5,
.quadrado6 {
  width: 352px;
  height: 254px;
  background-color: white;
  margin-bottom: 48px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  margin-right: 30px;
}

.mini-quadrado {
  width: 64px;
  height: auto;
  background-color: #c8d9e6;
  border-radius: 10px;
  margin-top: 24px;
  margin-left: 24px;
  align-items: center;
  display: flex;
  justify-content: center;
}

.icon,
.icon-branco {
  width: 48px;
  margin: 6px;
}

.quadrado4:hover .mini-quadrado,
.quadrado5:hover .mini-quadrado,
.quadrado6:hover .mini-quadrado {
  background-color: #003366;
}

.quadrado4:hover .icon,
.quadrado5:hover .icon,
.quadrado6:hover .icon {
  display: none;
}

.quadrado4:hover .icon-branco,
.quadrado5:hover .icon-branco,
.quadrado6:hover .icon-branco {
  display: flex;
}

.quadrado4 .icon-branco,
.quadrado5 .icon-branco,
.quadrado6 .icon-branco {
  display: none;
}

h3 {
  display: flex;
  margin-left: 1.6rem;
  font-size: 1.2rem;
  color: #003366;
}

.experiencia-quadrados p {
  font-size: 0.9rem;
  width: 80%;
  margin-top: 0;
  margin-left: 1.6rem;
  text-align: justify;
}

/* ==========================================FOOTER================================================== */

.footer {
  background-color: #003366;
  padding: 8px 0;
  display: flex;
  flex-direction: row;
}

.footer .container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  background: none;
}

.footer img {
  width: 144px;
  height: auto;
  margin-left: 64px;
}

.footer .navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: auto;
  margin-right: 64px;
}

.footer li{
  margin-right: 26px;
  color: #ffffff;
}

.footer .navbar a {
  text-decoration: none;
  font-weight: bold;
  font-size: 14.6px;
  color: #ffffff;
}

.footer .navbar a:hover,
.footer .navbar .agora a {
  color: #c8d9e6;
}


/*=================================================================================================================
                              CADASTRO E LOGIN                
=================================================================================================================*/

.login {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin-left: 98px;
}

/* ==========================================FRASE================================================== */
.frase {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 32px;
  min-width: 0;
  background-color: #f5f3ef;
}

.frase p {
  color: #003366;
  font-size: 24px;
  font-weight: bold;
}

.frase .autor p {
  margin-top: 16px;
  font-size: 14.5px;
  text-align: right;
}

/* ==========================================MEIO================================================== */

.meio{
  display: flex;
  align-self: center;
  width: 1px;
  height: 520px;
  background-color: #9b9b9b;
  margin-left: 30px;
  margin-right: 30px;
}

/* ==========================================FORMULARIO================================================== */
.container-formulario {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 0;
  background-color: #f5f3ef;
}

.formulario {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

.card-cadastro,
.card-login {
  height: 528px;
  width: 100%;
  max-width: 450px;
  padding: 32px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.card-cadastro h2,
.card-login h2 {
  color: #003366;
  font-size: 32px;
  text-align: center;
  margin-bottom: 32px;
}

.campo {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.campo span {
  color: #003366;
  font-weight: 600;
  font-size: 1rem;
  margin-bottom: 0.3125rem;
}

.campo input {
  width: 100%;
  border: none;
  border-bottom: 0.125rem solid #9b9b9b;
  padding: 0.5rem 0;
  font-size: 1rem;
  margin-bottom: 15px;
  background-color: #f5f3ef;
  border-bottom-color: #003366;
}

.campo {
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 5px 0;
}

.botao {
  background-color: #003366;
  color: #ffffff;
  border: none;
  width: 150px;
  border-radius: 14px;
  padding: 14px 28px;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  margin-top: 15px;
}

.botao:hover {
  background-color: #3d86ba;
}

/* ==========================================LOADING================================================== */


.loading-div {
  position: absolute;
  display: none;
   justify-content: center;
   margin-top: 440px;
   margin-left: 200px;
}

.loading-div img {
  height: 50px;
  width: 50px;
}

#div_erros_login {
  display: none;
  margin-top: 400px;
  margin-left: 30px;
  position: absolute;
}

/* ==========================================ERRO================================================== */

.alerta_erro{
  display: flex;
  justify-content: flex-end;
}

.card_erro {
  display: none;
  background-color: #fff;
  color: black;
  width: 230px;
  position: fixed;
  border-radius: 4px;
  border: #ED145B 3px solid;
  padding: 10px;
  margin-left: 100%;
  margin-right: -30%;
}

.card_erro #mensagem_erro{
  font-weight: 500;
  font-size: 20px;
}

.btn {
  font-family: "Barlow", sans-serif;
  border: 0;
  border-radius: 5px;
  font-weight: 600;
  font-size: 18px;
  padding: 10px 15px;
  color: white;
  background-color: #ED145B;
  width: 120px;
  align-self: center;
  margin-top: 5px;
}

/* ==========================================ALERTA================================================== */

#alerta {
  position: absolute;
  right: 0;
  bottom: 0;
}

.mensagem-alarme {
  background-color: white;
  border-radius: 5px;
  width: 300px;
  height: 80px;
  margin: 10px;
  padding: 10px 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.mensagem-alarme h3 {
  font-size: 14px;
  margin: 0;
}

.mensagem-alarme .informacao {
  width: 66%;
}

.alarme-sino {
  width: 48px;
  height: 48px;
  animation-name: bell;
  animation-duration: 4s;
  background-image: url('https://cdn-icons-png.flaticon.com/512/1157/1157000.png');
  background-size: cover;
  animation-iteration-count: infinite;
}

@keyframes bell {
  0%   {transform: rotate(25deg)}
  25%  {transform: rotate(-25deg)}
  50%  {transform: rotate(25deg)}
  75%  {transform: rotate(-25deg)}
  100% {transform: rotate(25deg)}
}